@import './variable';

$authentication-header-height: 180px;

.authentication-container {
  flex: 1;
}

.logo-container {
  align-items: center;
  background: $banner-background;
  color: $logo-container-text;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-weight: 700;
  justify-content: center;
  min-height: $authentication-header-height;

  .icon-home_logo {
    margin-top: 20px;
  }
}

.authentication-form-container {
  align-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - $authentication-header-height);
  justify-content: flex-start;
  padding: 30px 50px;
}

.authentication-form {
  max-width: 440px;
  text-align: center;
  width: 100%;
}
