$base-font-url: '/'; 
// Comment the below line when running local.
$base-font-url: '/asiyana/';

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src:  url($base-font-url + 'icon-fonts/icomoon.eot?nnl3h5');
  src:  url($base-font-url + 'icon-fonts/icomoon.eot?nnl3h5#iefix') format('embedded-opentype'),
  url($base-font-url + 'icon-fonts/icomoon.ttf?nnl3h5') format('truetype'),
  url($base-font-url + 'icon-fonts/icomoon.woff?nnl3h5') format('woff'),
  url($base-font-url + 'icon-fonts/icomoon.svg?nnl3h5#icomoon') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  // use !important to prevent issues with browser extensions that change fonts
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'icomoon' ;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  
  // Better Font Rendering ===========
  speak: none;
  text-transform: none;
}

.icon-home_logo {
  .path1 {
    &::before {
      color: rgb(255, 255, 255);
      content: '\e900';
    }
  }

  .path2 {
    &::before {
      color: rgb(0, 0, 0);
      content: '\e901';
      margin-left: -1.1787109375em;
    }
  }
}
