$logo-container-text: #fff;

.signin-container {
  flex: 1;
}

.logo-container {
  align-items: center;
  background: $banner-background;
  color: $logo-container-text;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-weight: 700;
  justify-content: center;
  min-height: 25%;

  .icon-home_logo {
    margin-top: 20px;
  }
}

.authentication-form-container {
  align-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40%);
  justify-content: center;
  padding: 10px 50px;
}

.authentication-form {
  max-width: 440px;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}
